/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}


* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height:100%;
}

body * {
	/* Override font */
	/*font-family: 'Source Sans Pro' !important;*/
	text-shadow: none !important;
	/*font-size:20px;*/

	-webkit-touch-callout: none;			/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;			/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;				/* prevent copy paste, to allow, change 'none' to 'text' */
}

input {
	-webkit-user-select: auto !important;	/* allow text entry into input fields */
}

.ui-page {
	-webkit-backface-visibility: hidden;
}

.ui-content {
	padding: 0;								/* Remove padding from JQM content area */
	/*height: 4000px;*/
	margin: 0 auto;
	width: 640px;
}


/* Reset margin on collapsed listview's since we removed the content padding */
[data-inset=false].ui-listview {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

/* Remove border from top of collapsed listviews */
[data-inset=false].ui-listview li:first-of-type {
	/*border-top: none;*/
}





#mainPanel {
	margin:0;
}

#mainPanel .ui-panel-inner {
	padding:0;
}