brad<br>

<ul data-role="listview" data-inset="false">
	<li><a href="#home">Home</a></li>
	<li><a href="#page1">Page 1</a></li>
	<li><a href="#page2">Page 2</a></li>
</ul>

<div style="padding:5px;">
	<button id="btnClosePanel">Close</button>
</div>
